<div class="container-fluid" id="icon-content">
  <div class="col-lg-8 col-md-8 col-sm-10 offset-lg-2 offset-md-2  text-center wow zoomIn" data-wow-duration="2s">
    <i class="fas fa-dice fa-5x"></i>

    <h2 class=" title">Zawartość gry</h2>

    <h4 class="text-black text-center wow zoomIn" data-wow-duration="3s" data-wow-delay="0.7s">
      <span >Podróż Bohatera&reg; to kompleksowe narzędzie do pracy indywidualnej i grupowej. Optymalna liczba graczy to 6 osób ale może w nią grać nawet 12 graczy. </span>
    </h4>
    <div class="text-left text-black line__height text-color">
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
        Gra zawiera:
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="0.5s">
        <i class="fa fa-check" aria-hidden="true"></i>   Dużą planszę wydrukowaną na płótnie typu canvas o wymiarach 92 cm. x 60 cm.
        oraz elementy niezbędne do gry na planszy:
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="0.5s">
        <i class="fa fa-check" aria-hidden="true"></i>       Talię 71 kart fotograficznych;
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1s">
        <i class="fa fa-check" aria-hidden="true"></i>         Talię 60 mniejszych kart (pytania, potrzeby, sentencje);
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1s">
        <i class="fa fa-check" aria-hidden="true"></i>       Drewnianą kostkę sześciościenną, zawierającą pytania krytyczne, przydatną przy przekraczaniu progu przez graczy;
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1s">
        <i class="fa fa-check" aria-hidden="true"></i>    Test na dominujący archetyp - do diagnozy dominujących u graczy prawzorów (archetypów);
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i>      6 dużych kart z opisami archetypów;
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i>     Drewniane żetony z wygrawerowanymi sentencjami w języku polskim i łacińskim;
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i>     Drewniany okręt do zaznaczenia aktualnego etapu na planszy;
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i>     Scenariusz do przeprowadzenia całej gry (Księga Mistrza Gry) zawierający dokładnie opisane etapy gry, zestawy pytań coachingowych, ćwiczeń i innych aktywności – przypisanych do każdego z siedmiu etapów podróży);
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i>  Dostęp do materiałów  w wersji elektronicznej, stanowiących załączniki do ćwiczeń zaproponowanych w Księdze Mistrza Gry (scenariuszu). Dzięki temu, dostajesz  nieograniczony dostęp do materiałów, które możesz potem rozdawać uczestnikom swoich warsztatów/sesji;
      </div>
      <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i> Kartę Gracza – przygotowany materiał w wersji elektronicznej, który ułatwia klientowi, notowanie najważniejszych refleksji z sesji.;
      </div>
    </div>
  </div>
</div>



<div class="row text-center btn__goTo">
  <div class="col-12 d-inline-block wow jackInTheBox"
       data-wow-duration="1s" data-wow-delay="4s">
    <a href="buy.html" class="d-inline-block btn btn-buy btn-animated">Kup teraz</a>
  </div>
</div>
