<div class="row" id="content-game3" >
  <div class="col-lg-10 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1" >
    <div class="icon__img">
      <i class="fas fa-jedi fa-3x text-black wow zoomIn" data-wow-duration="2s"></i></div>
    <h1 class="heading-primary text-center wow zoomIn" data-wow-duration="2s">
      <span class="heading-primary-main">Dla kogo?</span>
    </h1>
    <h6 class=" text-center wow zoomIn" data-wow-duration="2s">
      <span>Gra została stworzona z myślą o tych, którzy poszukują skutecznych sposobów wsparcia w procesie osiągania celów i budowania samoświadomości. Dla wszystkich tych, którzy potrzebują bardziej efektywnych narzędzi wspierających rozwój potencjału osobistego i zawodowego.</span>
    </h6>
    <div class="row">
      <div class="col-4 offset-1 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <div class="icon__img"><i class="fas fa-user fa-3x text-black"></i></div>
        <div class=" text-center">Do pracy indywidualnej</div>
      </div>
      <div class="col-4 offset-2 wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
        <div class="icon__img"><i class="fas fa-users fa-3x text-black"></i></div>
        <div class="text-center">Do pracy grupowej</div>
      </div>
    </div>
  </div>
</div>
