.media-text-right {
  text-align: right;
}

@media(max-width:586px){
  .media-text-right{
    text-align: left !important;
  }
}
.footer{
  background-color: black;
  margin-right: 0;
  text-align: right;
}

.text-footer{
  color: white;
  margin-right: 30px;
}
