<div class="container-fluid">
  <div class="row text-black" >
    <div class="col-lg-8 col-md-8 col-sm-10 offset-lg-2 offset-md-2 offset-sm-1">
      <h1 class=" text-center wow zoomIn" data-wow-duration="2s">
        <span class="heading-primary-main pb-2">Sklep internetowy w przygotowaniu!</span><b>Kup grę!

      </b>
      </h1>
      <h5 class="text-center  wow zoomIn" data-wow-duration=2s>
        <span >Gra Podróż Bohatera® cena: 449 zł brutto + 15 zł (koszty przesyłki kurierskiej)<br>

            <br>  Jej głównym założeniem jest wsparcie graczy w wyznaczaniu i osiąganiu istotnych dla nich celów/ przechodzeniu transformacji/ zmiany. Ideą gry jest też wzmocnienie w graczu  poczucia mocy, sprawczości oraz  motywacji do działania.</span>
      </h5>
      <div class="text-center text__line-height line__height text-color">
        <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
          1. Aby zakupić grę prześlij nam na adres mailowy <a href="mailto:podrozbohatera@gmail.com">podrozbohatera@gmail.com</a> informację o liczbie zamawianych sztuk, danymi do faktury
        </div>
        <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
          2. Wraz z zamówieniem wyślij potwierdzenie dokonanej płatności (przelew tradycyjny) na nr konta:<br>
          <div>
            PKO BP: 17 1020 1127 0000 1302 0291 9736<br>

            Nazwa odbiorcy: Duża Rzecz<br>

            Adres: Sulejówek ul. Dworcowa 63 05-070<br>

            Tytuł przelewu: Zakup gry<br>
          </div>
        </div>
        <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
          3. W zamówieniu podaj numer telefonu kontaktowego. Oddzwonimy aby ustalić miejsce dostawy oraz dane do faktury.
        </div>
        <div class=" wow zoomIn pb-3" data-wow-duration="2s" data-wow-delay="1.5s">
          4. Oczekuj na przesyłkę 😊
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pt-4 pb-4" id="content-game3">
  <div class="col-10 col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 offset-1 pb-5">
    <div class=" text-center  ">
      <div class="d-inline-block">
        <div class=" text-center wow zoomIn"
             data-wow-duration="2s" data-wow-delay="1s">
          <a href="http://www.allegro.pl" target="_blank" class="btn btn-buy btn-animated">Kup teraz</a>
        </div>
      </div>
    </div>
  </div>
</div>
