<div>
  <div class="menu">
    <div class="container"><a class="menu__logo" href="index.html">
      <div class="logo"><img class="logo__img" src="assets\navbar\logo2.png" alt="Logo strony"></div>
    </a>
      <div class="menu__bars"><i class="fa fa-bars" aria-hidden="true"></i></div>
      <div class="menu__nav">
        <div class="menu__navLeft">
          <div class="nav__box"></div>
          <a class="menu__navItem actives" href="index.html">O grze</a>
          <a class="menu__navItem " href="index2.html">Dla kogo</a>
          <a class="menu__navItem" href="index4.html">Do czego</a>
          <a class="menu__navItem" href="content.html">Zawartość gry</a>
          <a class="menu__navItem" href="buy.html">Sklep</a>
          <a class="menu__navItem " href="index5.html">Galeria</a>
          <a class="menu__navItem" href="index3.html">Kontakt</a>
          <!--a.menu__navItem(href="index.html") KONKURSY-->
          <!--a.menu__navItem(href="index.html") KARIERA-->
        </div>
      </div>
    </div>
  </div>
</div>
