<div class="col" id="video">
  <div class="video">
    <div class="container">
      <div class="video__top">
        <div class="sectionTitle">
          <div class="sectionTitle__title">VIDEO
            <div class="sectionTitle__border"></div>
          </div>
        </div>
      </div>

      <div class="video__yt" data-video="1">
        <iframe class="video__film" src="https://www.youtube.com/embed/s90zD32iInk" frameborder="0"
                allowfullscreen></iframe>
      </div>

      <div class="video__triler">
        <div class="video__trilerItem" data-video="1">
          <div class="video__trilerText">ZWIASTUN NR 1</div>
          <div class="video__play"></div>
        </div>
      </div>
    </div>
  </div>
</div>
