.title {
  text-transform: uppercase;
  backface-visibility: hidden;
  display: block;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.7;
  color: black;
  border-bottom: dashed 2px #79703F;
  border-width: 30%;
  margin-bottom: 40px;
}

.buy__img{
  width: 100%;
}

.buy__box{
  padding: 16px;
  width: 40%;
  float: left;
}

.buy__box.large{
  width: 60%;
}

@media (max-width: 600px){
  .buy__box{
    width: 100%;
  }
  .buy__box.large{
    width: 100%;
  }

}
