<div class="row" id="icon-content">
  <div class="col-lg-10 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1  text-center">
    <h1 class="heading-primary text-center foresttext wow zoomIn" data-wow-duration="2s">
      <span class="heading-primary-main title">W ramach jednego narzędzia otrzymujesz:</span>
    </h1>

    <div class="row">
      <div class="col-10 offset-1 text-left text-black line__height">
        <div class="wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
          <i class="fa fa-check" aria-hidden="true"></i> Innowacyjne narzędzie coachingowe, oparte na koncepcji monomitu Josepha Cambpella, wykorzystujące wiele różnych metod pracy grupowej i indywidualnej, pracy z obrazem i metaforą, ćwiczeń manualnych.
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
          <i class="fa fa-check" aria-hidden="true"></i>  Niezwykle atrakcyjną grę planszową z wciągającą fabułą  - dzięki której łatwiej zachęcisz klienta do wejścia w proces coachingowy/proces zmiany<br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
          <i class="fa fa-check" aria-hidden="true"></i>    Możliwość wykorzystywania gry do pracy 1 na 1 lub do pracy z grupą<br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
          <i class="fa fa-check" aria-hidden="true"></i>    Bogatą bazę inspiracji do prowadzenia skutecznych sesji coachingowych <br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
          <i class="fa fa-check" aria-hidden="true"></i> <b> 10 </b>Różnych ćwiczeń do pogłębienia pracy z klientem<br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
          <i class="fa fa-check" aria-hidden="true"></i>  Aż <b>320</b> minut dodatkowych ćwiczeń, dzięki którym przeprowadzisz nawet 2 dni coachingu grupowego w oparciu o grę Podróż Bohatera&reg;!<br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
          <i class="fa fa-check" aria-hidden="true"></i>   Ponad <b>120</b> pytań coachingowych, zawartych w narzędziu, które świetnie poszerzą perspektywę klienta<br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
          <i class="fa fa-check" aria-hidden="true"></i>  Większe zaangażowanie klienta i jego motywację do dalszej pracy<br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
          <i class="fa fa-check" aria-hidden="true"></i> <b>2</b> warianty gry w ramach jednego zestawu Podróży Bohatera&reg;<br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
          <i class="fa fa-check" aria-hidden="true"></i> Scenariusz (Księga Mistrza Gry), który pozwoli ci krok po kroku, przeprowadzić całą grę<br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
          <i class="fa fa-check" aria-hidden="true"></i>  Z gry możesz korzystać w sposób selektywny - wykorzystując do własnych, istniejących  już ćwiczeń czy programów coachingowych, albo   w całości wykorzystać wszystko to co dostajesz w komplecie.<br>
        </div>
      </div>
    </div>
  </div>
</div>
