<div class="container-fluid" id="icon-content">
  <div class="row">
  <div class="col-lg-8 col-lg-offset-2 wow zoomIn" data-wow-duration="2s">
    <h2 class="text-center title">Co zyskujesz pracując z grą Podróż Bohatera&reg;</h2>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3 text-center icon wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <div><img src="assets\icon-section\rudder.png" alt="rudder,kotwica"></div>
          <h6 class="text-black">Atrakcyjną, fabularyzowaną grę planszową</h6>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3 text-center icon wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1s">
          <i class="fas fa-user fa-2x fa-fw" aria-hidden="true"></i>
          <i class="fas fa-users fa-4x fa-fw" aria-hidden="true"></i>
          <h6 class="text-black">Narzędzie do pracy grupowej i indywidualnej</h6>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3 text-center icon  wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1.5s">
          <i class="fas fa-cogs fa-4x fa-fw" aria-hidden="true"></i>
          <h6 class="text-black">2 warianty przeprowadzenia gry</h6>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3 text-center icon  wow zoomIn" data-wow-duration="1.5s" data-wow-delay="2s">
          <i class="fas fa-dumbbell fa-4x fa-fw" aria-hidden="true"></i>
          <h6 class="text-black">10 Inspiracji na dodatkowe ćwiczenia</h6>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3 text-center icon wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <i class="fas fa-map-signs fa-4x fa-fw" aria-hidden="true"></i>
          <h6 class="text-black">120 pytań coachingowych, pogłębiających perspektywę klienta</h6>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3 text-center icon wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1s">
          <i class="fas fa-bullseye fa-4x fa-fw" aria-hidden="true"></i>
          <h6 class="text-black">Możliwość zastosowania do pracy z klientem w różnych obszarach jego życia i
            pracy</h6>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3 text-center icon wow zoomIn" data-wow-duration="1.5s" data-wow-delay="1.5s">
          <i class="fas fa-clock fa-4x fa-fw" aria-hidden="true"></i>
          <h6 class="text-black">320 Minut dodatkowych ćwiczeń!</h6>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3 text-center icon wow zoomIn" data-wow-duration="1.5s" data-wow-delay="2s">
          <i class="fas fa-map-marked-alt fa-4x fa-fw" aria-hidden="true"></i>
          <h6 class="text-black">Intuicyjny scenariusz gry</h6>
        </div>
      </div>
    </div>
  </div>
</div>
