<div class="row" id="content-game2" >
  <div class="col-10 offset-1" >
    <div class="icon__img wow zoomIn" data-wow-duration="6s"><i class="fas fa-map-signs fa-4x fa-fw" aria-hidden="true"></i></div>
    <h1 class="heading-primary text-center wow zoomIn" data-wow-duration="2s">
      <span class="heading-primary-main">Poszerzenie perspektywy klienta</span>
    </h1>
    <h5 class=" text-center wow zoomIn" data-wow-duration="2s" data-wow-delay="0.7s">
      <span>Ponadto pracując z Grą Podróż Bohatera&reg;, możesz przejść cały proces coachingowy zgodny z TGROW, korzystając tylko z gry i zaprojektowanych w niej aktywności lub też ( w zależności od potrzeb i możliwości klienta) - przepracować jedynie wybrany etap procesu np.: </span>
    </h5>
    <div class="text-left line__height">
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <i class="fa fa-check" aria-hidden="true"></i>  pracować w obszarze wartości klienta;<br>
      </div>
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <i class="fa fa-check" aria-hidden="true"></i>     pracować wizją i potrzebami; <br>
      </div>
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <i class="fa fa-check" aria-hidden="true"></i>       wspierać określenie mierników osiągniętego rezultatu oraz ich ekologiczność i proaktywność;<br>
      </div>
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
        <i class="fa fa-check" aria-hidden="true"></i>     pracować w obszarze mocnych stron;<br>
      </div>
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
        <i class="fa fa-check" aria-hidden="true"></i>  analizować zasoby;<br>
      </div>
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
        <i class="fa fa-check" aria-hidden="true"></i>   pracować z wykorzystaniem analizy archetypów klienta;<br>
      </div>
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i>     wspierać w tworzeniu strategii działania, związanej z napotkanymi przeszkodami ; <br>
      </div>
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i>   wspierać w pracy nad budowaniem właściwej samooceny; <br>
      </div>
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i>    tworzeniem planu działania; <br>
      </div>
      <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
        <i class="fa fa-check" aria-hidden="true"></i>     podsumować dotychczasowe doświadczenia klienta, jego osiągnięcia, sukcesy i trudności – traktując je jako swoistą „podróż bohatera” – podróż, której sam jest bohaterem i z której może czerpać inspirację i wiedzę do realizacji kolejnego celu. <br>
      </div>
    </div>
  </div>
</div>
