
<div class="col" id="foto">
  <div class="foto col-lg-8 col-md-8 col-sm-10 offset-lg-2 offset-md-2">
    <div class="container">
      <div class="foto__title">
        <div class="sectionTitle">
          <div class="sectionTitle__title text-black">Zawartość gry
            <div class="sectionTitle__border"></div>
          </div>
        </div>
      </div>
      <div class="foto__item">
        <div class="fotoItem">
          <div class="fotoItem__box"><a class="fotoItem__boxItem" href="assets\gallery\mapa_IMG_0066.jpg"
                                        data-sub-html="&lt;h4&gt;Opis zdjecia&lt;/h4&gt;&lt;p&gt;Przykładowy tekst opisu zdjecia lub fotografii. &lt;/p&gt;">
            <div class="fotoItem__img">
              <div class="fotoItem__lupa fa fa-search-plus" aria-hidden="true"></div>
              <img class="fotoItem__boxImg" src="assets\gallery\mapa_IMG_0066.jpg" alt="galeria">
              <div class="fotoItem__content">Duża plansza o wymiarach: 92 cm x 60 cm</div>
            </div>
          </a><a class="fotoItem__boxItem" href="assets\gallery\1_karty_9.jpg"
                 data-sub-html="&lt;h4&gt;Opis zdjecia&lt;/h4&gt;&lt;p&gt;Przykładowy tekst opisu zdjecia lub fotografii. &lt;/p&gt;">
            <div class="fotoItem__img">
              <div class="fotoItem__lupa fa fa-search-plus" aria-hidden="true"></div>
              <img class="fotoItem__boxImg" src="assets\gallery\1_karty_9.jpg" alt="galeria">
              <div class="fotoItem__content">Karty fotograficzne (71 sztuk)</div>
            </div>
          </a><a class="fotoItem__boxItem" href="assets\gallery\2.jpg"
                 data-sub-html="&lt;h4&gt;Opis zdjecia&lt;/h4&gt;&lt;p&gt;Przykładowy tekst opisu zdjecia lub fotografii. &lt;/p&gt;">
            <div class="fotoItem__img">
              <div class="fotoItem__lupa fa fa-search-plus" aria-hidden="true"></div>
              <img class="fotoItem__boxImg" src="assets\gallery\2.jpg" alt="galeria">
              <div class="fotoItem__content">Księga Mistrza Gry (scenariusz z inspiracjami/ćwiczeniami)</div>
            </div>
          </a><a class="fotoItem__boxItem" href="assets\gallery\1_k.jpg"
                 data-sub-html="&lt;h4&gt;Opis zdjecia&lt;/h4&gt;&lt;p&gt;Przykładowy tekst opisu zdjecia lub fotografii. &lt;/p&gt;">
            <div class="fotoItem__img">
              <div class="fotoItem__lupa fa fa-search-plus" aria-hidden="true"></div>
              <img class="fotoItem__boxImg" src="assets\gallery\1_k.jpg" alt="galeria">
              <div class="fotoItem__content">Karty fiszki (60 sztuk) 20 sztuk – sentencje; 20 sztuk- pytania; 20 sztuk- potrzeby</div>
            </div>
          </a><a class="fotoItem__boxItem" href="assets\gallery\Test_i_karty_archetypow.jpg"
                 data-sub-html="&lt;h4&gt;Opis zdjecia&lt;/h4&gt;&lt;p&gt;Przykładowy tekst opisu zdjecia lub fotografii. &lt;/p&gt;">
            <div class="fotoItem__img">
              <div class="fotoItem__lupa fa fa-search-plus" aria-hidden="true"></div>
              <img class="fotoItem__boxImg" src="assets\gallery\Test_i_karty_archetypow.jpg" alt="galeria">
              <div class="fotoItem__content">Test i karty archetypów (6 sztuk)</div>
            </div>
          </a><a class="fotoItem__boxItem" href="assets\gallery\1.jpg"
                 data-sub-html="&lt;h4&gt;Opis zdjecia&lt;/h4&gt;&lt;p&gt;Przykładowy tekst opisu zdjecia lub fotografii. &lt;/p&gt;">
            <div class="fotoItem__img">
              <div class="fotoItem__lupa fa fa-search-plus" aria-hidden="true"></div>
              <img class="fotoItem__boxImg" src="assets\gallery\1.jpg" alt="galeria">
              <div class="fotoItem__content">Żetony (13 połówek)</div>
            </div>
          </a><a class="fotoItem__boxItem" href="assets\gallery\statek_IMG_0050.jpg"
                 data-sub-html="&lt;h4&gt;Opis zdjecia&lt;/h4&gt;&lt;p&gt;Przykładowy tekst opisu zdjecia lub fotografii. &lt;/p&gt;">
            <div class="fotoItem__img">
              <div class="fotoItem__lupa fa fa-search-plus" aria-hidden="true"></div>
              <img class="fotoItem__boxImg" src="assets\gallery\statek_IMG_0050.jpg" alt="galeria">
              <div class="fotoItem__content">Okręt drewniany</div>
            </div>
          </a><a class="fotoItem__boxItem" href="assets\gallery\kostka_pytan_krytycznych_0063.jpg"
                 data-sub-html="&lt;h4&gt;Opis zdjecia&lt;/h4&gt;&lt;p&gt;Przykładowy tekst opisu zdjecia lub fotografii. &lt;/p&gt;">
            <div class="fotoItem__img">
              <div class="fotoItem__lupa fa fa-search-plus" aria-hidden="true"></div>
              <img class="fotoItem__boxImg" src="assets\gallery\kostka_pytan_krytycznych_0063.jpg" alt="galeria">
              <div class="fotoItem__content">Kostka drewniana do pytań krytycznych</div>
            </div>
          </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

