<div class="container-fluid">
  <div class="row" id="content-game1">
    <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
      <h1 class="heading-primary text-center wow zoomIn" data-wow-duration="2s">
        <span class="heading-primary-main">Gra Coachingowa Podróż Bohatera&reg;</span>
      </h1>
      <h6 class="text-center wow zoomIn" data-wow-duration=2s>
			<span >Podróż Bohatera&reg; to kompleksowy pakiet narzędzi, zebranych w przemyślaną koncepcję gry planszowej, służącej do grupowej lub indywidualnej pracy rozwojowej w dowolnie wybranym obszarze życia i pracy.
        <br><br>  Jej głównym założeniem jest wsparcie graczy w wyznaczaniu i osiąganiu istotnych dla nich celów/ przechodzeniu transformacji/ zmiany. Ideą gry jest też wzmocnienie w graczu  poczucia mocy, sprawczości oraz  motywacji do działania.</span>
      </h6>
    </div>
  </div>
</div>

