<div class="container-fluid">
  <div class="row" id="content-game2">
    <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
      <div class="icon__img">
        <i class="fas fa-crown fa-3x wow zoomIn" data-wow-duration="2s"></i>
      </div>
      <h1 class="heading-primary text-center wow zoomIn" data-wow-duration="2s">
        <span class="heading-primary-main">Wyjątkowość gry</span>
      </h1>
      <div>
        <h6 class="text-center">Gra Podróż Bohatera&reg; powstała w efekcie prac nad prototypem modelu wspierającego wybrane grupy społeczne w przechodzeniu z edukacji do zatrudnienia.!</h6>
      </div>
      <div class="text-center header_bold wow ">W 2017 roku, wygrał on konkurs na innowację społeczną!</div>
      <h6 class="text-center">Koncepcja gry, inspirowana jest monomitem Josepha Cambpella- mityczną wyprawą bohatera, archetypu od tysięcy lat obecnego i silnie zakorzenionego w naszej kulturze.
      Wyprawę mitycznego herosa w grze wykorzystano jako metaforę każdej podróży człowieka do wyznaczonego celu. Jako podróży przez własne życie z typowymi i powtarzalnymi etapami tej wyprawy jak : usłyszenie i podjęcie wyzwania, przekroczenie progu, samopoznanie, pokonywanie przeciwności/ wewnętrznych demonów, osiąganie celu i transformacja.
      Zbudowanie koncepcji gry planszowej na kanwie podróży bohatera sprawia, że gracze w niemal intuicyjny sposób sięgają do bardzo ważnych aspektów, które mają wpływ na dokonywane przez nich decyzje. W efekcie mają również wpływ na osiągane cele.
        Te aspekty związane są z ich najważniejszymi wartościami, tożsamością, posiadaną wizją, prawdziwą misją – czyli wszystkim tym co w dokonywaniu zmiany, transformacji, realizacji zamierzeń – ma ogromne znaczenie.</h6>
    </div>
  </div>
</div>
