<div class="container-fluid">
  <div class="row" id="content-game1">
    <div class="col-lg-10 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1">
      <div class="icon__img wow jackInTheBox" data-wow-duration="6s"><img src="assets\icon-section\rudder.png" alt="rudder,kotwica"></div>
      <h1 class="heading-primary text-center wow zoomIn" data-wow-duration="2s">
        <span class="heading-primary-main">W jakich obszarach wykorzystasz Podróż Bohatera&reg;?</span>
      </h1>
      <h6 class=" text-centerforesttext wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <span >To idealne narzędzie, które sprawdzi się  w pracy z osobami dorosłymi i młodzieżą, wszędzie tam, gdzie masz do czynienia z ważną  zmianą życiową, zawodową oraz tam gdzie przyda się wsparcie w osiąganiu celów biznesowych m.in. w: </span>
      </h6>
      <div class="text-left text__line-height line__height">
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
          <i class="fa fa-check" aria-hidden="true"></i>     Coachingu życiowym (Life coachingu)
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
          <i class="fa fa-check" aria-hidden="true"></i>       Coachingu kariery (Career coachingu)
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
          <i class="fa fa-check" aria-hidden="true"></i>         Coachingu partnerskim (Family coachingu))
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
          <i class="fa fa-check" aria-hidden="true"></i>         Coachingu rodzicielskim (Parents’ coachingu)
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
          <i class="fa fa-check" aria-hidden="true"></i>       Coachingu zdrowia (Helth coachingu)
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
          <i class="fa fa-check" aria-hidden="true"></i>       Coachingu menadżerskim (Managemant coachigu)
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
          <i class="fa fa-check" aria-hidden="true"></i>        Coachingu przywództwa (Leadership coachingu)
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
          <i class="fa fa-check" aria-hidden="true"></i>     Coachingu nastawionym na rezultat (Performance coachingu)
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
          <i class="fa fa-check" aria-hidden="true"></i>      Psychoterapii
        </div>
        <div class=" wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s">
          <i class="fa fa-check" aria-hidden="true"></i>      Doradztwie zawodowym
        </div>
      </div>
    </div>
  </div>
</div>
