<div class="container-fluid" id="icon-content">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1">
      <div class="icon__img wow zoomIn" data-wow-duration="2s">
        <i class="fas fa-cogs fa-4x fa-fw text-black" aria-hidden="true"></i></div>
      <h2 class="text-black text-center wow zoomIn" data-wow-duration="4s">
        <span class="heading-primary-main">Uniwersalność i elastyczność</span>
      </h2>
      <h5 class="text-black text-center wow zoomIn pb-3" data-wow-duration="3s" data-wow-delay="0.7s">
        <span >Podróż Bohatera&reg; została stworzona w taki sposób aby elastycznie dopasować się do potrzeb i możliwości graczy oraz osób przeprowadzających rozgrywkę (coacha lub innego specjalisty). Grając w tę grę ze swoimi klientami masz możliwość skorzystania z dwóch wariantów gry:</span>
      </h5>
      <div class="text-left text-black">
        <div class=" wow zoomIn" data-wow-duration="3s" data-wow-delay="1s">
          <i class="fa fa-check" aria-hidden="true"></i> <b>podstawowego</b> - wykorzystujesz jedynie elementy na planszy i podstawowy scenariusz (Księgę Mistrza Gry)<br>
        </div>
        <div class=" wow zoomIn" data-wow-duration="3s" data-wow-delay="1.2s">
          <i class="fa fa-check" aria-hidden="true"></i> <b>rozszerzonego</b> – wykorzystujesz zarówno elementy na planszy jak też zestaw inspiracji ze scenariusza tj. dodatkowe ćwiczenia pogłębiające zawarte w Księdze Mistrza Gry<br>
        </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1 text-center wow zoomIn"
             data-wow-duration="2s" data-wow-delay="1s">
          <a href="buy.html" class="btn btn-buy btn-animated">Kup teraz</a>
        </div>
      </div>
    </div>
  </div>
</div>
