<div id="fb-root"></div>
<script>(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<img src="assets/fb/facebook.png" class="fb-toggle" alt="facebook">
<div class="fb-page fb-position" id="intro" data-href="https://www.facebook.com/Podr%C3%B3%C5%BC-Bohatera-957433740971582/"
     data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
     data-show-facepile="true">
  <blockquote cite="https://www.facebook.com/Podr%C3%B3%C5%BC-Bohatera-957433740971582/"
              class="fb-xfbml-parse-ignore"><a
    href="https://www.facebook.com/Podr%C3%B3%C5%BC-Bohatera-957433740971582/">Podróż Bohatera</a></blockquote>
</div>
